@model Sube1.HelloMVC.ViewModels.OgrenciViewModel

@{
    ViewData["Title"] = "Öğrenci Düzenle";
}

<h1>Öğrenci Düzenle</h1>

<h4>Öğrenci</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditStudent">
            <input type="hidden" asp-for="Ogrenci.Ogrenciid" />
            <div class="form-group">
                <label asp-for="Ogrenci.Ad" class="control-label"></label>
                <input asp-for="Ogrenci.Ad" class="form-control" />
                <span asp-validation-for="Ogrenci.Ad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.Soyad" class="control-label"></label>
                <input asp-for="Ogrenci.Soyad" class="form-control" />
                <span asp-validation-for="Ogrenci.Soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ogrenci.Numara" class="control-label"></label>
                <input asp-for="Ogrenci.Numara" class="form-control" />
                <span asp-validation-for="Ogrenci.Numara" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="selectedDersler" class="control-label">Dersler</label>
                <select asp-for="SelectedDersler" class="form-control" asp-items="@(new MultiSelectList(Model.Dersler, "Dersid", "Dersad"))" multiple="multiple"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
    </
